@media (max-width: 1350px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 9.5;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 10;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 10.5;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 11;
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 11.5;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 12;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 12.5;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 13;
        }
      }
    }
  }
}

@media (max-width: 940px) {
  .home__container {
    .heading__greeting {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
    .heading_name {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    .heading__intro {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
  .about__container {
    .about__text--container {
      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.07rem;
        font-weight: 500;
      }
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(4, 1fr);
  }
  .carousel__button--arrows {
    font-size: 1.9rem;
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 14;
        }
      }
      &--title {
        h3 {
          font-size: 1.4rem;
        }
      }
    }
  }
  .project__container {
    .project__title {
      h1 {
        font-size: 1.4rem;
      }
    }
    &--pic {
      img {
        width: 55%;
      }
    }
  }
  .project__link--list {
    .project__link--text {
      font-size: 1rem;
    }
    .project__link--icon {
      font-size: 1.4rem;
    }
  }
  .project__skill--list {
    .icon__container {
      font-size: 1.4rem;
    }
  }
  .project__description {
    font-weight: 500;
  }
  .contact__container {
    .contact__icon {
      font-size: 1.4rem;
    }
    &--left {
      h3 {
        font-size: 1.4rem;
      }
      p {
        line-height: 1.8rem;
        font-size: 1rem;
      }
    }
    &--right {
      a {
        .contact__icon {
          font-size: 2.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 913px) {
  .about__container {
    flex-direction: column;
    .about__pic--container {
      max-width: 50%;
    }
    .about__text--container {
      max-width: 90%;
    }
  }
  .contact__container {
    flex-direction: column;
    margin-top: 50px;
    &--left {
      width: 95%;
      gap: 20px;
      h3 {
        margin: 0;
      }
      address {
        margin: 0;
        gap: 10px;
      }
    }
    &--right {
      ul {
        gap: 30px 200px;
      }
    }
  }
}

@media (max-width: 900px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 15;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 16;
        }
      }
    }
  }
}

@media (max-width: 806px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 17;
        }
      }
      &--title {
        h3 {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu__main {
    display: none;
  }
  .menu__slide {
    display: flex;
  }
  .section__heading {
    font-size: 1.8rem;
    &--bg {
      font-size: 3.5rem;
      top: 0;
    }
  }
  .home__container {
    .heading__greeting {
      font-size: 4rem;
      letter-spacing: 1rem;
    }
    .heading__name {
      font-size: 1.6rem;
      letter-spacing: 0.25rem;
    }
    .heading__intro {
      font-size: 1rem;
      letter-spacing: 0.04rem;
      font-weight: 700;
    }
    .heading__button--text,
    .heading__button--icon {
      font-size: 0.9rem;
    }
  }
  .about__container {
    .about__text--container {
      h3 {
        font-size: 1.1rem;
        letter-spacing: 0.07rem;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
    }
  }
  .skills__list--tech {
    li {
      .icon__container {
        font-size: 2.3rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .carousel__button--arrows {
    font-size: 1.8rem;
  }
  .projects__container {
    margin: 50px 30px 50px 30px;
    .projects__list {
      &--pic {
        margin: 0;
      }
    }
  }
  .project__container {
    .project__title {
      h1 {
        font-size: 1.3rem;
      }
    }
    &--pic {
      img {
        width: 60%;
      }
    }
  }
  .project__link--list {
    .project__link--text {
      font-size: 0.9rem;
    }
    .project__link--icon {
      font-size: 1.3rem;
    }
  }
  .project__skill--list {
    .icon__container {
      font-size: 1.3rem;
    }
  }
  .project__description {
    font-size: 0.9rem;
    letter-spacing: 0.07rem;
    line-height: 1.35rem;
  }
  .contact__container {
    gap: 80px;
    .contact__icon {
      font-size: 1.3rem;
    }
    &--left {
      width: 90%;
      h3 {
        font-size: 1.3rem;
      }
      p {
        line-height: 1.7rem;
        font-size: 0.9rem;
      }
    }
    &--right {
      a {
        .contact__icon {
          font-size: 2.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  .ePage {
    .ePage__container {
      &--heading {
        font-size: 1.6rem;
      }
      &--text {
        font-size: 0.9rem;
      }
      &--button {
        font-size: 0.9rem;
      }
    }
  }
  .eData {
    .eData__container {
      &--heading {
        font-size: 1.6rem;
      }
      &--text {
        font-size: 0.9rem;
      }
    }
  }
  .footer {
    border-top: 4px solid;
    p {
      font-size: 0.9rem;
    }
  }
}

@media (max-width: 700px) {
  .about__container {
    .about__text--container {
      max-width: 85%;
      p {
        letter-spacing: 0.06rem;
      }
      i {
        font-weight: 700;
      }
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 19;
        }
      }
    }
  }
  .contact__container {
    gap: 50px;
  }
}

@media (max-width: 652px) {
  .section__heading {
    font-size: 1.6rem;
    &--bg {
      font-size: 3rem;
      top: 5px;
    }
  }
  .home__container {
    .heading__greeting {
      font-size: 3.5rem;
      line-height: 4rem;
      letter-spacing: 0.9rem;
    }
    .heading__name {
      font-size: 1.4rem;
      line-height: 2rem;
      letter-spacing: 0.2rem;
    }
    .heading__intro {
      width: 93%;
      font-size: 1rem;
      letter-spacing: 0.02rem;
      line-height: 1.8rem;
      font-weight: 600;
    }
    .heading__button--text,
    .heading__button--icon {
      font-weight: 600;
    }
  }
  .skills__list--tech {
    margin-right: 40px;
    margin-left: 40px;
    gap: 30px 10px;
  }
  .carousel__button {
    &--left {
      left: 8px;
    }
    &--right {
      right: 8px;
    }
    &--arrows {
      font-size: 1.7rem;
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 20;
        }
      }
      &--title {
        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
  .project__description {
    font-weight: 400;
    letter-spacing: 0.06rem;
    line-height: 1.25rem;
  }
}

@media (max-width: 600px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 22;
        }
      }
    }
  }
  .project__container--pic {
    img {
      width: 70%;
    }
  }
  .contact__container--right {
    ul {
      gap: 30px 150px;
    }
  }
}

@media (max-width: 543px) {
  .section__heading {
    font-size: 1.4rem;
    &--bg {
      font-size: 2.5rem;
      top: 13px;
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 24;
        }
      }
    }
  }
  .contact__container {
    gap: 40px;
    &--right {
    ul {
      gap: 30px 100px;
    }
    }
  }
}

@media (max-width: 527px) {
  .home__container {
    .heading__name {
      width: 90%;
    }
  }
  .about__container {
    .about__text--container {
      max-width: 80%;
      h3 {
        font-size: 1.05rem;
        letter-spacing: 0.05rem;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        letter-spacing: 0.06rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 80%;
  }
  .theme__toggle {
    gap: 3px;
  }
  .menu__slide {
    &--button {
      font-size: 1rem;
    }
    &--icon {
      font-size: 0.8rem;
      width: 20px;
      height: 20px;
    }
  }
  .home__container {
    .heading__greeting {
      font-size: 3rem;
      line-height: 3rem;
      letter-spacing: 0.7rem;
    }
    .heading__name {
      font-size: 1.2rem;
      line-height: 1.8rem;
      letter-spacing: 0.1rem;
    }
    .heading__intro {
      width: 90%;
      font-size: 0.9rem;
      line-height: 1.6rem;
    }
  }
  .about__container {
    .about__text--container {
      h3 {
        font-size: 1rem;
        letter-spacing: 0.04rem;
      }
      p {
        font-size: 0.8rem;
        line-height: 1.2rem;
        letter-spacing: 0.05rem;
      }
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(2, 1fr);;
    gap: 20px 10px;
    li {
      .icon__container {
        font-size: 2rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .carousel__button {
    &--left {
      left: 10px;
    }
    &--right {
      right: 10px;
    }
    &--arrows {
      font-size: 1.6rem;
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 30;
        }
      }
      &--title {
        h3 {
          font-size: 1.1rem;
        }
      }
    }
  }
  .project__container {
    .project__title {
      h1 {
        font-size: 1.2rem;
      }
    }
    &--pic {
      img {
        width: 85%;
      }
    }
  }
  .project__link--list {
    .project__link--text {
      font-size: 0.8rem;
    }
    .project__link--icon {
      font-size: 1.2rem;
    }
  }
  .project__skill--list {
    .icon__container {
      font-size: 1.2rem;
    }
  }
  .project__description {
    font-size: 0.8rem;
  }
  .contact__container {
    .contact__icon {
      font-size: 1.2rem;
    }
    &--left {
      h3 {
        font-size: 1.2rem;
      }
      p {
        line-height: 1.6rem;
        font-size: 0.8rem;
      }
    }
    &--right {
      a {
        .contact__icon {
          font-size: 2rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  .ePage {
    .ePage__container {
      &--heading {
        font-size: 1.2rem;
      }
      &--text {
        font-size: 0.8rem;
      }
      &--button {
        font-size: 0.8rem;
      }
    }
  }
  .eData {
    .eData__container {
      &--heading {
        font-size: 1.2rem;
      }
      &--text {
        font-size: 0.8rem;
      }
    }
  }
  .footer {
    border-top: 3px solid;
    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 450px) {
  .section__heading {
    font-size: 1.2rem;
    &--bg {
      font-size: 2rem;
      top: 21px;
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 40;
        }
      }
      &--title {
        h3 {
          font-size: 1.0rem;
        }
      }
    }
  }
}

@media (max-width: 390px) {
  .section__heading {
    font-size: 1rem;
    &--bg {
      font-size: 1.5rem;
      top: 29px;
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 40;
        }
      }
      &--title {
        h3 {
          font-size: 1.0rem;
        }
      }
    }
  }
  .project__description {
    max-width: 90%;
  }
  .contact__container {
    &--right {
    ul {
      gap: 30px 50px;
    }
    }
  }
}