@media (max-width: 1350px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 21 / 10;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 5;
        }
      }
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 190px));
  }
}

@media (max-width: 1200px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 5.5;
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 6;
        }
      }
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 180px));
  }
}

@media (max-width: 940px) {
  .home__container {
    .heading__greeting {
      font-size: 4.5rem;
      line-height: 4.5rem;
    }
    .heading_name {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
    .heading__intro {
      font-size: 1.1rem;
      line-height: 2rem;
    }
  }
  .about__container {
    .about__text--container {
      h3 {
        font-size: 1.2rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.07rem;
        font-weight: 500;
      }
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 190px));
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 6.5;
        }
      }
      &--title {
        h3 {
          font-size: 1.4rem;
        }
      }
    }
  }
  .project__container {
    .project__title {
      h1 {
        font-size: 1.4rem;
      }
    }
  }
  .project__link--list {
    .project__link--text {
      font-size: 1rem;
    }
    .project__link--icon {
      font-size: 1.4rem;
    }
  }
  .project__skill--list {
    .icon__container {
      font-size: 1.4rem;
    }
  }
  .project__description {
    font-weight: 500;
  }
  .contact__container {
    .contact__icon {
      font-size: 1.4rem;
    }
    &--left {
      h3 {
        font-size: 1.4rem;
      }
      p {
        line-height: 1.8rem;
        font-size: 1rem;
      }
    }
    &--right {
      a {
        .contact__icon {
          font-size: 2.4rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 913px) {
  .about__container {
    flex-direction: column;
    .about__pic--container {
      max-width: 350px;
    }
    .about__text--container {
      margin-right: 15px;
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 7;
        }
      }
    }
  }
  .contact__container {
    flex-direction: column;
    margin-top: 50px;
    &--left {
      width: 95%;
      gap: 20px;
      h3 {
        margin: 0;
      }
      address {
        margin: 0;
        gap: 10px;
      }
    }
    &--right {
      ul {
        gap: 30px 200px;
      }
    }
  }
}

@media (max-width: 806px) {
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 7.5;
        }
      }
      &--title {
        h3 {
          font-size: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu__main {
    display: none;
  }
  .menu__slide {
    display: flex;
  }
  .section__heading {
    font-size: 1.8rem;
    &--bg {
      font-size: 3.5rem;
      top: 0;
    }
  }
  .home__container {
    .heading__greeting {
      font-size: 4rem;
      letter-spacing: 1rem;
    }
    .heading__name {
      font-size: 1.6rem;
      letter-spacing: 0.25rem;
    }
    .heading__intro {
      font-size: 1rem;
      letter-spacing: 0.04rem;
      font-weight: 700;
    }
    .heading__button--text,
    .heading__button--icon {
      font-size: 0.9rem;
    }
  }
  .about__container {
    .about__text--container {
      h3 {
        font-size: 1.1rem;
        letter-spacing: 0.07rem;
      }
      p {
        font-size: 0.9rem;
        line-height: 1.4rem;
      }
    }
  }
  .skills__list--tech {
    li {
      .icon__container {
        font-size: 2.3rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 10 / 8;
        }
      }
    }
  }
  .project__container {
    .project__title {
      h1 {
        font-size: 1.3rem;
      }
    }
  }
  .project__link--list {
    .project__link--text {
      font-size: 0.9rem;
    }
    .project__link--icon {
      font-size: 1.3rem;
    }
  }
  .project__skill--list {
    .icon__container {
      font-size: 1.3rem;
    }
  }
  .project__description {
    font-size: 0.9rem;
    letter-spacing: 0.07rem;
    line-height: 1.35rem;
  }
  .contact__container {
    .contact__icon {
      font-size: 1.3rem;
    }
    &--left {
      p {
        line-height: 1.7rem;
        font-size: 0.9rem;
      }
    }
    &--right {
      a {
        .contact__icon {
          font-size: 2.2rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .about__container {
    .about__pic--container {
      max-width: 300px;
    }
    .about__text--container {
      margin-right: 20px;
      p {
        letter-spacing: 0.06rem;
      }
      i {
        font-weight: 700;
      }
    }
  }
  .projects__container {
    .projects__list {
      &--pic {
        img {
          aspect-ratio: 1 / 1;
        }
      }
    }
  }
}

@media (max-width: 652px) {
  .section__heading {
    font-size: 1.6rem;
    &--bg {
      font-size: 3rem;
      top: 5px;
    }
  }
  .skills__list--tech {
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 150px));
  }
}

// @media (max-width: 480px) {
//   .wrapper {
//     width: 80%;
//   }
// }

// @media (max-width: 391px) {
//   .heading__container {
//     .heading__greeting {
//       font-size: 3rem;
//       line-height: 3rem;
//       letter-spacing: 0.9rem;
//     }
//     .heading__name {
//       font-size: 1.35rem;
//       line-height: 1.6rem;
//       letter-spacing: 0.25rem;
//     }
//     .heading__intro {
//       font-size: 0.9rem;
//       line-height: 1.4rem;
//       letter-spacing: 0.04rem;
//     }
//     .heading__button--text,
//     .heading__button--icon {
//       font-size: 0.7rem;
//     }
//   }
//   .section__heading {
//     font-size: 1.15rem;
//     &--bg {
//       font-size: 2.56rem;
//     }
//   }
//   .skills__list--tech {
//     grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 120px));
//   }
// }

// @media (max-width: 315px) {
//   .skills__list--tech {
//     grid-template-columns: repeat(auto-fill, minmax(calc(100% / 5 - 10px), 100px));
//   }
// }