nav {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.theme__toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  &--icon {
    font-size: 0.75rem;
  }
  &--container {
    height: 15px;
    width: 30px;
    border-radius: 25px;
    position: relative;
    &:focus-visible {
      outline-style: groove;
    }
  }
  &--notch {
    height: 13px;
    width: 13px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
}

.light {
  .theme__toggle--notch {
    transform: translateX(16px);
  }
}

.menu__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  &--list {
    padding: 3px;
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    outline: none;
  }
  &--item {
    display: block;
    height: 50px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin: 0;
    font-size: 15px;
    top: 0;
    right: 0;
    border-radius: 35px;
    padding: 16px 65px 16px 25px;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
  }
  &--icon,
  &--active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
  }
  &--list:hover &--item,
  &--list:focus-visible &--item {
    visibility: visible;
    opacity: 1;
  }
}

.menu__slide {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  &--button {
    display: inline-block;
    text-align: center;
    border-radius: 25%;
    padding: 8px 12px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.25rem;
    outline: none;
  }
  &--bar {
    visibility: hidden;
    opacity: 0;
  }
  &--clicked {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &--list {
    outline: none;
  }
  &--icon,
  &--active {
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 25%;
    transition: background-color 0.2s ease-in-out;
  }
}