.project__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  .project__title {
    margin-top: 50px;
    align-self: left;
    h1 {
      text-transform: uppercase;
      font-size: 1.5rem;
    }
  }
  &--pic {
    img {
      border-radius: 30px;
      width: 50%;
      object-position: top;
      aspect-ratio: 16 / 9;
    }
  }
  &--text {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
}

.project__link--list {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
  margin-bottom: 20px;
  .project__link--container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .project__link--text {
    font-size: 1.1rem;
  }
  .project__link--icon {
    font-size: 1.5rem;
  }
}

.project__skill--list {
  display: flex;
  gap: 20px;
  .icon__container {
    font-size: 1.5rem;
  }
}

.project__description {
  width: 95%;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  a {
    text-transform: capitalize;
  }
}