.project {
  margin-top: 30px;
}

.project__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .project__title {
  color: $yellowOrange;
  align-self: left;
    h1 {
      text-transform: uppercase;
      font-size: 1.5rem;
      text-shadow: 5px 5px 5px rgba($color: $white, $alpha: 0.3);
    }
  }
  &--pic {
    max-width: 50%;
    img {
      border-radius: 30px;
      box-shadow: 0 0 15px $yellowOrange;
    }
  }
  &--text {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}

.project__link--list {
  display: flex;
  flex-direction: column;
  line-height: 0.5rem;
  margin-bottom: 20px;
  .project__link--container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .project__link--text {
    font-size: 1.25rem;
    color: $lightGrey;
  }
  .project__link--icon {
    font-size: 1.75rem;
    color: $yellowOrange;
  }
}

.project__skill--list {
  display: flex;
  gap: 20px;
  .icon__container {
    font-size: 1.75rem;
    color: $yellowOrange;
  }
}

.project__description {
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  color: $white;
  a {
    text-transform: capitalize;
    color: $yellowOrange;
  }
}