.skills {
  text-align: center;
  position: relative;
}

.skills__list--tech {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-evenly;
  gap: 50px 10px;
  margin: 0 30px 50px 30px;
  li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .icon__container {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
    }
  }
  .upcoming__skill {
    position: relative;
    .upcoming__skill--icon,
    .upcoming__skill--type {
      opacity: 0.3;
    }
    .upcoming__skill--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
      text-transform: uppercase;
      font-size: 1.1rem;
    }
  }
}