.theme__toggle {
  color: $yellowOrange;
  position: fixed;
  right: 5px;
  z-index: 100;
  top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  &--icon {
    font-size: 0.65rem;
  }
  &--container {
    height: 15px;
    width: 30px;
    border-radius: 25px;
    border: 1px solid $yellowOrange;
    position: relative;
  }
  &--container:hover &--notch,
  &--container:focus &--notch{
    transform: translateX(17px);
  }
  &--notch {
    height: 13px;
    width: 13px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
  }
}