html {
  font-size: 125%;
  font-family: 'Poppins', sans-serif;
  background-color: $black;
}

body {
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}