// dark theme colours
$black: #111;
$white: #fff;
$darkGrey: #2b2a2a;
$yellowOrange: #ffb400;

// light theme colours
$lightGreen: #72b626;
$lightGrey: #666;

@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700");