@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.link {
  display: block;
  position: relative;
  top: -50px;
}

.page__theme--dark .heading__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}
.page__theme--dark .heading__container .heading__greeting {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 1.1rem;
  margin: 100px 0 50px 0;
  color: #ffb400;
}
.page__theme--dark .heading__container .heading__name {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.3rem;
  color: #ffb400;
}
.page__theme--dark .heading__container .heading__occupation {
  text-transform: uppercase;
  color: #666;
}
.page__theme--dark .heading__container .heading__intro {
  font-size: 1.25rem;
  line-height: 2.2rem;
  letter-spacing: 0.05rem;
  color: #fff;
}
.page__theme--dark .heading__button {
  border-radius: 35px;
  border: 1px solid;
  padding: 15px 70px 15px 35px;
  margin: 25px 0;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  border-color: #ffb400;
}
.page__theme--dark .heading__button:before {
  z-index: -1;
  background-color: #ffb400;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  border-radius: 35px;
}
.page__theme--dark .heading__button:hover:before, .page__theme--dark .heading__button:focus:before {
  transform: translateX(0);
  transition: 0.3s ease-out;
}
.page__theme--dark .heading__button--text {
  font-size: 1.1rem;
  color: #fff;
  margin: 0;
}
.page__theme--dark .heading__button--icon {
  color: #fff;
  background-color: #ffb400;
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  padding: 15px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */