@import "./partials/setup";
@import "./partials/variables";
@import "./partials/typography";
@import "./partials/base";
@import "./partials/nav";
@import "./partials/themeDark";
@import "./partials/themeLight";
@import "./partials/home";
@import "./partials/about";
@import "./partials/skills";
@import "./partials/projects";
@import "./partials/projectDetail";
@import "./partials/contact";
@import "./partials/errorPage";
@import "./partials/footer";
@import "./partials/errorData";
@import "./partials/mediaQuery";